@font-face {
     font-family: "Sansation_Light";
     src: url("./sansation/Sansation_Light.ttf");
} 
@font-face {
     font-family: "Sansation_Bold";
     src: url("./sansation/Sansation_Bold.ttf");
}
html, body {
     height:100%;
}
a {
     -webkit-text-stroke-width: 2px;
     -webkit-text-stroke-color: black;
}
.bg{
    /* bottom, image */
     background: #000 no-repeat center center;
     background-size: cover;
}
.center {
     margin: auto;
     position: relative;
     text-align: center;
     top: 37%;
     width: 100%;
}
.intro{
     color:white;
     font-size: 70px;
     font-family: Sansation_Bold;
}
.sensation{
     color:white;
     font-size: 100px;
     font-family: Sansation_Bold;
}
#loader {
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 1;
     width: 150px;
     height: 150px;
     margin: -75px 0 0 -75px;
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid #3498db;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 2s;
    animation-name: animatebottom;
    animation-duration: 2s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}